{% extends 'base.html.twig' %}

{% block title %}{{ challenge.name }} - Wiki Game{% endblock %}

{% block body %}
    <div class="game-container">
        {# Header du jeu #}
        <div class="game-header">
            <div class="game-info">
                <h3 class="challenge-title">{{ challenge.name }}</h3>
                <div class="target-info">
                    <span class="target-label">Objectif:</span>
                    <span class="target-page">{{ challenge.endPage }}</span>
                </div>
            </div>

            {# Timer avec Stimulus #}
            <div data-controller="timer" data-timer-start-time-value="{{ session.startTime|date('Y-m-d H:i:s') }}">
                <div data-timer-target="display" class="timer" >00:00</div>
            </div>

            {# Stats #}
            <div class="stats">
                <div class="stat">
                    <span class="stat-value">{{ session.path|length }}</span>
                    <span class="stat-label">Pages</span>
                </div>
            </div>
        </div>

        {# Turbo Frame pour le contenu Wikipedia #}
        <turbo-frame
            id="wiki-content"
            class="wiki-frame"
            data-controller="wiki-container"
            src="{{ path('game_load_page', {id: session.id, title: challenge.startPage}) }}"
        >
            <div class="loading-placeholder">
                <p>Chargement de la page Wikipedia...</p>
            </div>
        </turbo-frame>
    </div>
{% endblock %}
